{block title}Administrace | Exporty{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Exporty</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 t32">
        <a href="{plink Exports:applicationsNotPaid}" class="btn btn-warning">Exportovat e-maily nezaplacených přihlášek</a>
    </div>
</div>

<div class="row">
    <div class="col-12 t32">
        <a href="{link applicationAllDetails!}" class="btn btn-primary">Exportovat detaily přihlášek do CSV</a>
    </div>
</div>

