{block title}Administrace | Data pro kemp{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Data pro kemp</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {snippet grid}
            {control campDataGrid}
        {/snippet}
    </div>
</div>
