{block title}Administrace | Přehled pořadníků{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Přehled pořadníků</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control queuesGrid}
        {/snippet}
    </div>
</div>
