{block title}Administrace | Přehled zájemců{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Přehled zájemců</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control zajemciGrid}
        {/snippet}
    </div>
</div>
