{block title}Administrace | Přidat uživatele systému{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Přidat uživatele systému</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br>
        {snippet form}
            {control addUserForm}
        {/snippet}
    </div>
</div>