{block title}Administrace | Upravit uživatele systému{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Upravit uživatele systému</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br>
        {snippet form}
            {control editUserForm}
        {/snippet}
    </div>
</div>