{block title}Administrace | Přiřadit platbu{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Přiřadit platbu</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet form}
            {control assignPaymentForm}
        {/snippet}
    </div>
</div>