{block title}Administrace | Spárovat platby hromadně{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Spárovat platby hromadně</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet form}
            {control autoAssignPaymentForm}
        {/snippet}
    </div>
</div>