{block title}
  Seznamovák {date("Y")} | GDPR
{/block}

{block nofol}nofollow{/block}

{block content}
  <div class="div-block-20">
      <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar second tvujucet w-nav">
          <div class="container w-container">
              <a href="{plink Homepage:default}" class="brand w-nav-brand">
                  <div class="logo second">SEZNAMOVÁK</div>
              </a>
              <nav role="navigation" class="nav-menu second w-nav-menu">
                  <a href="{plink Homepage:default#Program}" class="nav-white second w-nav-link">Informace</a>
                  <a href="{plink Faq:default}" aria-current="page" class="nav-white second w-nav-link w--current">Časté dotazy</a>
                  <a href="{plink Historie:default}" class="nav-white second w-nav-link">Minulé ročníky</a>
                  <a href="{plink Instruktori:default}" class="nav-white second w-nav-link">Instruktoři</a>
                  <a href="{plink Auth:default}" class="button-nav second w-button">Tvoje Přihláška</a>
              </nav>
              <div class="menu-button w-nav-button">
                  <div class="icon second w-icon-nav-menu"></div>
              </div>
          </div>
      </div>
      <div class="container-8 w-container">
          <div class=faqdotaz>
              <h3>PODMÍNKY ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ</h3>
              <h4>Souhlas se zpracováním osobních údajů a informace o zpracování osobních údajů</h4>
          </div>
          <div class="faqdotaz">
              <p>Tento souhlas se zpracováním Vašich osobních údajů dáváte společnosti Akce Student o.s. pro účely zasílání informačních sdělení (marketingových nabídek) a pro činění jiných marketingových aktivit vůči Vaší osobě. Tento Váš souhlas můžete kdykoliv odvolat a informační sdělení Vám pak nebudou dále zasílána. Podrobnější informace o zpracování Vašich osobních údajů naleznete níže.</p>
              <h4>1. TOTOŽNOST A KONTAKTNÍ ÚDAJE SPRÁVCE</h4>
                1.1. Správcem Vašich osobních údajů je občanské sdružení Akce Student o.s., se sídlem Kaprova 42/14, Staré Město, 110 00 Praha , identifikační číslo: 01588311, zapsaná ve spolkovém rejstříku u Městského soudu v Praze, spisová značka: L 25631.<br><br>
                1.2. Doručovací údaje správce jsou stejné jako sídlo spolku uvedené výše. Adresa elektronické pošty je seznamovak.brno@gmail.com<br><br>
                1.3. Správce nejmenoval pověřence pro ochranu osobních údajů.<br><br>
              <h4>2. PRÁVNÍ ZÁKLAD ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ</h4>
                2.1. Právním základem zpracování Vašich osobních údajů je Váš souhlas dávaný tímto správci ve smyslu čl. 6 odst. 1 písm. a) Nařízení Evropského parlamentu a Rady 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů) (dále jen „nařízení“).<br><br>
                2.2. Oprávněný zájem správce na poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. f) GDPR.<br><br>
                2.3. Váš souhlas se zpracováním pro účely poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č. 480/2004 Sb., o některých službách informační společnosti v případě, že nedošlo k objednávce zboží nebo služby.<br><br>
              <h4>3. ÚČEL ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ</h4>
                3.1. Účelem zpracování Vašich osobních údajů je zasílání informačních sdělení a činění jiných marketingových aktivit správcem vůči Vaší osobě.<br><br>
                3.2. Ze strany správce nedochází k automatickému individuálnímu rozhodování ve smyslu čl. 22 nařízení.<br><br>
              <h4>4. DOBA ULOŽENÍ OSOBNÍCH ÚDAJŮ</h4>
                4.1. Správce uchovává osobní údaje po dobu, než je odvolán souhlas se zpracováním osobních údajů pro účely marketingu, nejdéle 5 let, jsou-li osobní údaje zpracovávány na základě souhlasu.<br><br>
                4.2. Po uplynutí doby uchovávání osobních údajů správce osobní údaje vymaže.<br><br>
              <h4>5. DALŠÍ PŘÍJEMCI OSOBNÍCH ÚDAJŮ</h4>
                5.1. Dalšími příjemci Vašich osobních údajů jsou osoby zajišťující marketingové služby pro správce.<br><br>
                5.2. Správce má v úmyslu předat Vaše osobní údaje do třetí země (do země mimo EU) nebo mezinárodní organizaci. Příjemci osobních údajů ve třetích zemích jsou poskytovatelé mailingových služeb / cloudových služeb.<br><br>
              <h4>6. PRÁVA SUBJEKTU ÚDAJŮ</h4>
                6.1. Za podmínek stanovených v nařízení máte právo požadovat od správce přístup k Vašim osobním údajům, právo na opravu nebo výmaz Vašich osobních údajů, popřípadě omezení jejich zpracování, právo vznést námitku proti zpracování Vašich osobních údajů a dále právo na přenositelnost Vašich osobních údajů.<br><br>
                6.2. Máte právo kdykoli odvolat souhlas se zpracováním Vašich osobních údajů daný správci. Tímto však není dotčena zákonnost zpracování Vašich osobních údajů před takovýmto odvoláním souhlasu. Váš souhlas se zpracováním osobních údajů můžete odvolat písemně nebo elektronicky na adresu nebo email správce uvedený v čl. 1 těchto podmínek.<br><br>
                6.3. Pokud byste se domníval(a), že zpracováním Vašich osobních údajů bylo porušeno či je porušováno nařízení, máte mimo jiné právo podat stížnost u dozorového úřadu.<br><br>
                6.4. Nemáte povinnost osobní údaje poskytnout. Poskytnutí Vašich osobních údajů není zákonným či smluvním požadavkem a ani není požadavkem, který je nutný k uzavření smlouvy.<br><br>
                6.5. Máte kdykoliv právo vznést námitku proti zpracování Vašich osobních údajů pro účely přímého marketingu, včetně profilování, pokud se profilování týká tohoto přímého marketingu. Pokud vznesete námitku proti zpracování Vašich osobních údajů pro účely přímého marketingu, nebudou již Vaše osobní údaje pro tyto účely dále zpracovávány.<br><br>
              <h4>7. PODMÍNKY ZABEZPEČENÍ OSOBNÍCH ÚDAJŮ</h4>
                7.1. Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních údajů.<br><br>
                7.2. Správce přijal technická opatření k zabezpečení datových úložišť a úložišť osobních údajů v listinné podobě.<br><br>
                7.3. Správce prohlašuje, že k osobním údajům mají přístup pouze jím pověřené osoby.<br><br>
              <h4>8. ZÁVĚREČNÁ USTANOVENÍ</h4>
                8.1. S těmito podmínkami souhlasíte zaškrtnutím souhlasu prostřednictvím internetového formuláře. Zaškrtnutím souhlasu potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.<br><br>
                8.2. Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na svých internetových stránkách a zároveň Vám zašle novou verzi těchto podmínek Vaši e-mailovou adresu, kterou jste správci poskytl/a. Tyto podmínky nabývají účinnosti dnem 25.5.2018.<br><br>
          </div>
      </div>
  </div>