{block title}Administrace | Přehled stavu přihlášek{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Graf</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br>
        {snippet grid}
            {control grafGrid}
        {/snippet}
    </div>
</div>
