{block title}
    Seznamovák {date("Y")} | Historie
{/block}

{block content}
<div class="div-block-22">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar second tvujucet w-nav">
        <div class="container w-container">
            <a href="{plink Homepage:default}" class="brand w-nav-brand">
                <div class="logo second">SEZNAMOVÁK</div>
            </a>
            <nav role="navigation" class="nav-menu second w-nav-menu">
                <a href="{plink Homepage:default#Program}" class="nav-white second w-nav-link">Informace</a>
                <a href="{plink Faq:default}" class="nav-white second w-nav-link">Časté dotazy</a>
                <a href="{link default}" aria-current="page" class="nav-white second w-nav-link w--current">Minulé ročníky</a>
                <a href="{plink Instruktori:default}" class="nav-white second w-nav-link">Instruktoři</a>
                <a href="{plink Auth:default}" class="button-nav second w-button">Tvoje Přihláška</a>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="icon second w-icon-nav-menu"></div>
            </div>
        </div>
    </div>

    <section id="feature-section" class="feature-section">
        <div class="centered-container w-container">
            <h2 class="b40">Seznamovák 2016</h2>
            <iframe width="760" height="515"
                    src="https://www.youtube.com/embed/gIYJzXlN4nU"
                    title="Aftermovie Seznamovák 2016" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
            <br><br>
        </div>
        <div class="flex-container w-container">

            <div>
                <h3 class="b40">Rozjezdové pondělí</h3>
                <p>Všechno to začalo v&nbsppondělí kolem poledne u&nbspJanáčkova divadla. Byla jsem celkem nervózní, když jsem procházela obřím davem účastníků Seznamováku a&nbspnikoho neznala. Nervozita se strachem však během chvilky vymizela, protože „osamocených duší“ tam bylo více a&nbsprychle jsem si našla nové přátele. V&nbspprůběhu našeho seznamovacího rozhovoru nás instruktoři přerušili tím, abychom se naskládali do autobusu a&nbspkonečně vyrazili na 5&nbspdenní dobrodružství do Pasohlávek.</p><br/>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/po1.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/po1.jpg" alt="Kronika 2016 - Zaškolovák VUT" class="feature-image"/>
                </a>
            </div>
        </div>
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <a href="{$basePath}/images/kronika/2016/po2.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/po2.jpg" alt="Kronika 2016 - Zaškolovák MENDELU" class="feature-image"/>
                </a>
            </div>
            <div>
                <p>Cesta autobusem utekla hrozně rychle, protože jsem poznávala další nové tváře a&nbspvšichni jsme si vzájemně padli do noty. Díky tomu jsem se na následující dny těšila ještě víc, protože skvělá parta lidí je prostě základ. Po hodině cesty jsme dorazili do cílového místa, kempu ATC&nbspMerkur. Po příjezdu následovalo ubytování. Vytvořili jsme skupinky, vyzvedli klíče a&nbspodebrali se prozkoumávat naše bungalovy, které byly vybaveny včetně pokojů i&nbspkuchyňkou a&nbspvlastním sociálním zařízením. Stihla jsem si zabrat tu nejlepší postel, vybalit kufr a&nbsppospíchala na první informační schůzku.</p><br/>
            </div>
        </div>
        <div class="flex-container w-container">
            <div>
                <p>Po informační schůzce se konaly první skupinové aktivity, do kterých jsme byli rozděleni podle fakult. Hráli jsme mnoho seznamovacích her a&nbsppoznala jsem mé nové spolužáky, se kterými byl vstup do prvního semestru o&nbspdost lehčí a&nbspzábavnější. Po dvouhodinovém teambuildingu jsme byli všichni hladoví a&nbspnatěšení na večeři. To pečené kuře bylo fakt dobré!:D Ale neřešme kuře, protože na řadě je první party Seznamováku! Ta se nesla v&nbspduchu „Jäger night“. Taneční hudbu nám pouštěl profi DJ, kterého přivezl Jäger, spolu s&nbspnaším instruktorem Dávidem. Všichni jsme se bavili až do ranních hodin.</p><br/>
                <p>Lůca :)</p>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/po3.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/po3.jpg" alt="Kronika 2016 - Zaškolovák MUNI" class="feature-image"/>
                </a>
            </div>
        </div>
    </section>

    <section id="feature-section" class="feature-section-next">
        <div class="flex-container w-container">
            <h3 class="b40">Tiché úterý</h3>
        </div>
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <a href="{$basePath}/images/kronika/2016/ut1.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/ut1.jpg" alt="Kronika 2016 - Zaškolovák Brno" class="feature-image"/>
                </a>
            </div>
            <div>
                <p>První ranní aktivitou byla rozcvička v&nbsppodobě workoutu, běhu nebo zumby, kterou jsem však díky dospávání předešlé noci nestihl. Nevadí. Po snídani na nás čekal opět teambuilding ve skupinách, které jsme utvořili již včera a&nbsppřátelství s&nbspnovými spolužáky se tak stalo zase o&nbspněco silnějším. Na konci nám zbylo trochu času se dozvědět důležité informace týkající se naší fakulty v&nbsppodání našich instruktorů, čímž nám dali nezbytné základy pro budoucí studium.</p><br/>
            </div>
        </div>
        <div class="flex-container w-container">
            <div>
                <p>Hry nás doprovodily až do konce odpoledního programu, za kterým na nás čekala degustace vín. S&nbspprofesionálním someliérem tento zážitek dostal úplně jiný rozměr. Byla to taková „nóbl“ chvilka: zkoumání barvy, vůně a&nbspsamozřejmě chuti.</p><br/>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/ut2.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/ut2.jpg" alt="Kronika 2016 - Prvákoviny Brno" class="feature-image"/>
                </a>
            </div>
        </div>
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <a href="{$basePath}/images/kronika/2016/ut3.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/ut3.jpg" alt="Kronika 2016 - Vuťákoviny Brno" class="feature-image"/>
                </a>
            </div>
            <div>
                <p>Večer už byla na programu jen informační schůzka, kde jsme se dozvěděli nezbytné informace k&nbspdalšímu dni, ale hlavně k&nbspvečerní party. Silent disco! Dokonalá tečka za tímto dnem. Až vypůjčením sluchátek jsme se dostali k&nbsphudbě a&nbspto hned ve dvou variantách. Na sluchátkách jsme si mohli vybrat, kterého z&nbsp„dýdžejů“ chceme poslouchat. Skvělý nápad a&nbspvelice dobré provedení tohoto „tichého“ programu nás dostalo až do postele, kde jsme vytuhli jak nemluvňata.</p><br/>
                <p>Karlos :)</p>
            </div>
        </div>
    </section>

    <section id="feature-section" class="feature-section">
        <div class="flex-container w-container">
            <div>
                <h3 class="b40">Mokrá středa</h3>
                <p>Po probuzení následovala rozcvička a&nbspnásledovně vydatná snídaně, která přišla vhod, protože jsem potřeboval nabrat síly na středeční program, kterým byla návštěva Aqualandu Moravia. Ještě před výletem jsem si však nemohl nechat ujít dvě přínosné přednášky o&nbspErasmu a&nbspŽivotě v&nbspBrně.</p><br/>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/st1.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/st1.jpg" alt="Kronika 2016 - Zaškolovák FSI" class="feature-image"/>
                </a>
            </div>
        </div>
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <a href="{$basePath}/images/kronika/2016/st2.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/st2.jpg" alt="Kronika 2016 - FAST VUT Prvákoviny" class="feature-image"/>
                </a>
            </div>
            <div>
                <p>Netrvalo to dlouho a&nbspuž jsem vcházel s&nbspostatními do Aqualandu, který byl rozdělen do několika částí: klasický bazén, vířivková část a&nbspAdrenálium. Velice mě potěšilo, že voda v&nbspbazénu měla přes 30°C. Vydal jsem se do Adrenália a&nbspbyl ohromen šílenými skluzavkami a&nbsptobogány. Chtěl jsem ze začátku zkusit něco mírného, takže mě kamarád samozřejmě hned zatáhl na to nejhorší&nbsp–&nbsp15&nbspmetrů vysokou „U-Wave“. Když jsem si vše vyzkoušel, přidal jsem se k&nbspvelké skupině, co s&nbspinstruktory cvičila aqua-aerobik. Cvičitelé byli skvělí a&nbspjá se smál tak, že jsem spolykal snad půl bazénu vody. Příjemně unaven jsem se naložil do luxusní bublající vířivky a&nbsptěšil se na večerní program. Bylo to pár skvělých hodin v&nbspmém životě, ale už byl čas vrátit se do campu.</p><br/>
            </div>
        </div>
        <div class="flex-container w-container">
            <div>
                <p>Středeční večeře byla vynikající a&nbspdoplnila mi sílu se smát. Bylo to potřeba, protože večerní „Instruktorská partička“ byla jednoduše famózní. Bylo mi trochu líto, že po hodině představení skončilo, ale hned po něm následovala skvělá hudební produkce z&nbspdílny našeho DJ. Snažil jsem se tančit tak dlouho, jak jen to šlo, ale Aqualand si zkrátka vybral svou daň. Brzy jsem padl zmožený do postele a&nbspusnul v&nbspočekávání dalšího zajímavého dne.</p><br/>
                <p>Machy :)</p>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/st3.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/st3.jpg" alt="Kronika 2016 - Seznamovák Brno" class="feature-image"/>
                </a>
            </div>
        </div>
    </section>

    <section id="feature-section" class="feature-section-next">
        <div class="flex-container w-container">
            <h3 class="b40">Žíznivý čtvrtek</h3>
        </div>
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <a href="{$basePath}/images/kronika/2016/ct1.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/ct1.jpg" alt="Kronika 2016 - Vysokoškolský seznamovák" class="feature-image"/>
                </a>
            </div>
            <div>
                <p>Čtvrteční ráno jsem se rozhodla, že si přivstanu a&nbspalespoň jednou si zajdu na ranní rozcvičku, což mě docela nastartovalo na předposlední den Seznamováku.</p><br/>
            </div>
        </div>
        <div class="flex-container w-container">
            <div>
                <p>Dopoledne bylo věnováno sportovním turnajům. Mohli jsme se například zúčastnit Beach volejbalu, zahrát si petanque nebo badminton. Ti, kteří neradi sportují, si mohli zapůjčit různé deskové hry. Po hrách někteří odpočívali, ale já se spolužáky jsem zavítala do wakeparku, který se nacházel v&nbspsamotném areálu kempu. Zkušený tým nám půjčil vybavení potřebné k&nbspwakebordingu a&nbspdostali jsme instrukce k&nbsppoužívání vleku. Byl to opravdu skvělý zážitek, protože ne vždy se člověku naskytne příležitost si tenhle druh sportu vyzkoušet.</p><br/>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/ct2.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/ct2.jpg" alt="Kronika 2016 - Seznamovací akce Brno" class="feature-image"/>
                </a>
            </div>
        </div>
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <a href="{$basePath}/images/kronika/2016/ct3.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/ct3.jpg" alt="Kronika 2016 - Seznamovací akce pro prváky Brno" class="feature-image"/>
                </a>
            </div>
            <div>
                <p>Na odpoledne si pro nás instruktoři připravili velice zajímavou hru s&nbspnázvem Thirsty games. Za úkol jsme měli ve dvojicích obejít sedm stanovišť. Na osmém stanovišti jsme pak soutěžili všichni zaráz. Opravdu bylo velice náročné zvládnout všechna stanoviště, ale nevzdali jsme to a&nbspúspěšně jsme splnili všechny disciplíny.</p><br/>
            </div>
        </div>
        <div class="flex-container w-container">
            <div>
                <p>Na večer byla pro nás připravená tematická party. Během večera se každý náramně bavil. Když byla party v&nbspplném proudu, dostali jsme najednou od instruktorů prskavky a&nbspnikdo netušil, co nás vlastně čeká. Deset, devět, osm,…. BOOM.  Skončilo odpočítávání a&nbspk&nbspobloze se začaly snášet barevné paprsky. Krásný den jsme tak zakončili velkolepým ohňostrojem.</p><br/>
                <p>Pája :)</p>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/ct4.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/ct4.jpg" alt="Kronika 2016 - Seznamovák pro vysoké školy" class="feature-image"/>
                </a>
            </div>
        </div>
    </section>

    <section id="feature-section" class="feature-section">
        <div class="flex-container w-container">
            <div>
                <h3 class="b40">Loučící se pátek</h3>
                <p>A&nbspje to tady, poslední den Seznamováku. Podle mého názoru jedno z&nbspnejnáročnějších rán, protože poslední party bývají většinou největší a&nbspnejlepší. Budík mi zazvonil v&nbsp8&nbspa&nbspměla jsem hodinu na to, abych si stihla sbalit kufr a&nbspvyklidit bungalov. Naše pořádná skupinka to zvládla celkem rychle, tak jsme došli na poslední snídani mezi prvníma. U&nbspsnídaně jsem si začala uvědomovat, že pobyt utekl jako voda a&nbspže se mi nechce domů. Po celé dopoledne byl pro nás nachystaný fotokoutek, kde jsme se mohli zvěčnit s&nbspnašimi novými přáteli či spolužáky a&nbsptaky jsme fotili velkou skupinovou fotku.</p><br/>
            </div>
            <div class="feature-image-mask second">
                <a href="{$basePath}/images/kronika/2016/pa1.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/pa1.jpg" alt="Kronika 2016 - Příručka prváka VUT" class="feature-image"/>
                </a>
            </div>
        </div>
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <a href="{$basePath}/images/kronika/2016/pa2.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/pa2.jpg" alt="Kronika 2016 - Příručka prváka MUNI" class="feature-image"/>
                </a>
                <a href="{$basePath}/images/kronika/2016/pa3.jpg" data-fancybox="gallery">
                    <img src="{$basePath}/images/kronika/2016/pa3.jpg" alt="Kronika 2016 - Příručka prváka MENDELU" class="feature-image"/>
                </a>
            </div>
            <div>
                <p>Pomalu se blížila 12.&nbsphodina – náš čas odjezdu. Začínali jsme se loučit, sem tam nějaké objetí, sem tam i&nbspslzička ukápla. Dvanáctá hodina odbila a&nbspnaše autobusy se vydaly směr Brno. I&nbspkdyž mě mrzelo, že už je konec, byla jsem spokojená a&nbspšťastná, protože vzpomínky, které jsem si z&nbspPasohlávek přivezla, jsou nezapomenutelné.</p><br/>
                <p>Lůca :)</p>
            </div>
        </div>
    </section>
</div>
