{block title}
    Seznamovák 2020 | Historie
{/block}

{block content}
<div class="div-block-22">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar b80 w-nav">
        <div class="container w-container">
            <a href="{plink Homepage:default}" aria-current="page" class="brand w-nav-brand w--current">
                <div class="logo second">SEZNAMOVÁK</div>
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <a href="{plink Homepage:default#Program}" class="nav-white second w-nav-link">Informace</a>
                <a href="{plink Faq:default}" class="nav-white second w-nav-link">Časté dotazy</a>
                <a href="{plink Historie:default}" class="nav-white second w-nav-link">Minulé ročníky</a>
                <a href="{plink Instruktori:default}" class="nav-white second w-nav-link">Instruktoři</a>
                <a href="{plink Prihlaska:default}" class="button-nav second w-button">Tvoje Přihláška</a>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <section id="feature-section" class="feature-section">
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="feature-image"/>
            </div>
            <div>
                <h2 class="b40">Seznamovák 2019</h2>
                <p>The <strong>feature</strong> layout is built with <strong>flex</strong>, like the <strong>hero</strong> layout. Don’t like our typesetting? You can update every detail in the typography section of the Style panel.<br/>‍<br/>You can also add spacing between the heading and paragraph, swap a video in for the image, or add a button. Just make sure to drop your button into the <strong>div block</strong> that contains this content.</p>
            </div>
        </div>
    </section>
    <section id="gallery" class="gallery">
        <div class="centered-container w-container">
            <h2 class="b40">Vzpomínky a zážitky</h2>
            <p>This gallery uses our lightbox element, which lets you display images or videos inside an immersive, fullscreen slideshow. Double-click the placeholders to replace them with your own images (or videos).</p>
            <div class="gallery-grid-container">
                <a href="#" id="w-node-56f86802a819-f7a1c0d5" class="gallery-lightbox w-inline-block w-lightbox">
                    <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"/>
                    <a href="#" class="gallery-lightbox w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"/>
                    <script type="application/json" class="w-json">{
                        "items": [
                            {
                                    "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "width": 150,
                                    "height": 150,
                                    "fileName": "image-placeholder.svg",
                                    "origFileName": "image-placeholder.svg",
                                    "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "_id": "example_img",
                                    "type": "image",
                                    "fileSize": 2063
                                }
                            ],
                            "group": "gallery"
                        }</script>
                </a>
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                    <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"/>
                    <script type="application/json" class="w-json">{
                            "items": [
                                {
                                    "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "width": 150,
                                    "height": 150,
                                    "fileName": "image-placeholder.svg",
                                    "origFileName": "image-placeholder.svg",
                                    "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "_id": "example_img",
                                    "type": "image",
                                    "fileSize": 2063
                                }
                            ],
                            "group": "gallery"
                        }</script>
                </a>
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                    <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"/>
                    <script type="application/json" class="w-json">{
                            "items": [
                                {
                                    "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "width": 150,
                                    "height": 150,
                                    "fileName": "image-placeholder.svg",
                                    "origFileName": "image-placeholder.svg",
                                    "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "_id": "example_img",
                                    "type": "image",
                                    "fileSize": 2063
                                }
                            ],
                            "group": "gallery"
                        }</script>
                </a>
                <a href="#" class="gallery-lightbox w-inline-block w-lightbox">
                    <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc4f8e818ea77d7c5fa_placeholder-thumb.svg" alt="" class="gallery-thumbnail"/>
                    <script type="application/json" class="w-json">{
                            "items": [
                                {
                                    "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "width": 150,
                                    "height": 150,
                                    "fileName": "image-placeholder.svg",
                                    "origFileName": "image-placeholder.svg",
                                    "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                                    "_id": "example_img",
                                    "type": "image",
                                    "fileSize": 2063
                                }  ],
                            "group": "gallery"
                        }</script>
                </a>
            </div>
        </div>
    </section>
    <section id="feature-section" class="feature-section">
        <div class="flex-container w-container">
            <div class="feature-image-mask">
                <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="feature-image"/>
            </div>
            <div>
                <h2 class="b40">Tiché úterý</h2>
                <p>The <strong>feature</strong> layout is built with <strong>flex</strong>, like the <strong>hero</strong> layout. Don’t like our typesetting? You can update every detail in the typography section of the Style panel.<br/>‍<br/>You can also add spacing between the heading and paragraph, swap a video in for the image, or add a button. Just make sure to drop your button into the <strong>div block</strong> that contains this content.</p>
            </div>
        </div>
    </section>
    <section id="feature-section" class="feature-section">
        <div class="flex-container w-container">
            <div>
                <h2 class="b40">Mokrá středa</h2>
                <p>The <strong>feature</strong> layout is built with <strong>flex</strong>, like the <strong>hero</strong> layout. Don’t like our typesetting? You can update every detail in the typography section of the Style panel.<br/>‍<br/>You can also add spacing between the heading and paragraph, swap a video in for the image, or add a button. Just make sure to drop your button into the <strong>div block</strong> that contains this content.</p>
            </div>
            <div class="feature-image-mask second">
                <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="feature-image"/>
            </div>
        </div>
    </section>
    <section id="cards-section" class="cards-section">
        <div class="centered-container w-container">
            <h2 class="b40">Jednotlivé dny</h2>
            <p class="b40">Use these <strong>cards</strong> when you want to display content with an image, such as a blog post or product. They’re built with CSS grid to enable the 3-column layout. When you select the “Cards Grid Container,” you’ll see a red icon on the top right. Click the icon to edit the number of columns, the column gap, and more!</p>
            <div class="cards-grid-container">
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"/>
                    </div>
                    <h3>Pondělí</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
                </div>
                <div id="w-node-366c66e0fec7-f7a1c0d5">
                    <div class="cards-image-mask">
                        <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"/>
                    </div>
                    <h3 id="w-node-366c66e0feca-f7a1c0d5">Úterý</h3>
                    <p id="w-node-366c66e0fecc-f7a1c0d5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
                </div>
                <div id="w-node-366c66e0fece-f7a1c0d5">
                    <div class="cards-image-mask">
                        <img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"/>
                    </div>
                    <h3 id="w-node-366c66e0fed1-f7a1c0d5">Středa</h3>
                    <p id="w-node-366c66e0fed3-f7a1c0d5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
                </div>
            </div>
        </div>
    </section>
    <main id="main-content" class="main-content">
        <div class="w-container">
            <div class="w-richtext">
                <h2>Poslední den</h2>
                <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place, instead of having to add and format them individually. Just double-click and start writing.</p>
                <p>‍</p>
                <h3>Static and dynamic content editing</h3>
                <p>A rich text element can be used with static or dynamic content. For static content, just drop the element into any page and begin editing. For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Voila!</p>
                <p>To style the headings, paragraphs, blockquotes, figures, images, and captions inside your rich text element, first:</p>
                <ol start="1" role="list">
                    <li>Give the rich text element a class</li>
                    <li>Select the element within the rich text that you want to style — a blockquote, for example</li>
                    <li>Click the + sign below the <strong>selector</strong> field to “Nest selector inside of” your rich text element’s class</li>
                </ol>
                <p>‍</p>
                <h4>How to customize formatting for each rich text element</h4>
                <figure style="padding-bottom:56.206088992974244%" id="w-node-1a2110f9b774-f7a1c0d5" class="w-richtext-align-fullwidth w-richtext-figure-type-video">
                    <div>
                        <iframe allowfullscreen="true" frameborder="0" scrolling="no" src="https://www.youtube.com/embed/97v2cSE1rrU"></iframe>
                    </div>
                </figure>
                <p>‍</p>
                <h5>And this would be an H5</h5>
                <ul role="list">
                    <li>A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing.</li>
                    <li>For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel.</li>
                </ul>
                <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and start writing.</p>
                <p>‍</p>
                <blockquote>
                    <em>Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a class is added to the rich text element using the “When inside of” nested selector system.</em>
                </blockquote>
            </div>
        </div>
    </main>
</div>
