{block title}
    Seznamovák {date("Y")} | Historie
{/block}

{block content}
<div class="div-block-22">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar second tvujucet w-nav">
        <div class="container w-container">
            <a href="{plink Homepage:default}" class="brand w-nav-brand">
                <div class="logo second">SEZNAMOVÁK</div>
            </a>
            <nav role="navigation" class="nav-menu second w-nav-menu">
                <a href="{plink Homepage:default#Program}" class="nav-white second w-nav-link">Informace</a>
                <a href="{plink Faq:default}" class="nav-white second w-nav-link">Časté dotazy</a>
                <a href="{link default}" aria-current="page" class="nav-white second w-nav-link w--current">Minulé ročníky</a>
                <a href="{plink Instruktori:default}" class="nav-white second w-nav-link">Instruktoři</a>
                <a href="{plink Auth:default}" class="button-nav second w-button">Tvoje Přihláška</a>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="icon second w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <section id="cards-section" class="cards-section">
        <div class="centered-container w-container">
            <h2 class="b40">Seznamovák 2018</h2>
            <h3 class="b40">Vzpomínky na program</h3>
            <div class="cards-grid-container">
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/aqualand.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/aqualand.jpg" alt="Kronika 2018 - VUT přihlášení" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Aqualand</h3>
                    <p>Aqualand. Místo, kde se v&nbsppolovině Seznamováku zrelaxuješ a&nbspužiješ si spoustu zábavy. Je jen na tobě, jak tento den prožiješ. Pokud jsi klidnější typ, můžeš jen tak posedět s&nbspkamarády ve vířivce nebo u&nbspvodního baru. Jestli máš však stále plno energie, tak jsou tu pro tebe venkovní bazény, či atrakce jako jsou vysokorychlostní skluzavky, tobogány, u-rampa a&nbspnechybí ani zábavný program v&nbsppodání našich instruktorů.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/wakeboard.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/wakeboard.jpg" alt="Kronika 2018 - MUNI přihlášení" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Wakeboarding</h3>
                    <p>Na Seznamováku budeš mít možnost vybrat si z&nbspprogramu i&nbsptrochu toho adrenalinu - wakeboarding, jinými slovy sport, kde vezmeš prkno, skočíš na vodu a&nbspnecháš se vláčet kolem laguny. Zvláště pokud pro tebe něco znamená snowboard, tak by sis wake neměl/a nechat ujít. Ale i&nbspkdyby pro tebe byl naprostou novinkou a&nbspchtěl/a by sis zkusit zajezdit, nemusíš se bát. Nezáleží na tom, kolik máš zkušeností, na místě si vybereš buď z&nbspvelkého (pro odvážnější) nebo malého (pro začínající) vleku, takže parádní zážitek je zaručen pro všechny.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/paintball.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/paintball.jpg" alt="Kronika 2018 - MENDELU přihlášení" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Paintball</h3>
                    <p>Čtvrtý den se už v&nbspkempu cítíš jako doma, a&nbsptak přijde čas objevit ten doposud tajemný kus území, který se skrývá v&nbspmalé džungli na druhé straně laguny. Jak se blížíš, tak už slyšíš zvuky bitevní vřavy předchozí skupiny a&nbsppomalu si zpoza plotu mapuješ území a&nbspplánuješ, za kterým barelem se schováš, a&nbspkterým křovím se proplížíš ke svému protivníkovi. Po krátké instruktáži se rozdělíte na 2&nbsptýmy, oblékneš si vyfasované ochranné pomůcky, vezmeš zbraň a&nbspjdeš do akce. Náboje v&nbsppodobě kapslí s&nbspbarvou létají vzduchem, a&nbspty se snažíš si vzpomenout, jak sis na začátku naplánoval taktiku. Marně - tady pomůže jedině improvizace. Zvolíš kulometnou palbu na všechny okolo, nebo budeš odstřelovat jednotlivými kuličkami na přesnost? Obojí může být ta správná strategie. Po konci bitvy jsi vyčerpaný, ale šťastný. Ať už tvůj tým vyhrál nebo prohrál, všichni jste se skvěle bavili.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/koncerty2.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/koncerty2.jpg" alt="Kronika 2018 - MUNI PF" class="cards-image"/>
                        </a>
                        <a href="{$basePath}/images/kronika/2018/koncerty3.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/koncerty3.jpg" alt="Kronika 2018 - VUT Mail" class="cards-image"/>
                        </a>
                        <a href="{$basePath}/images/kronika/2018/koncerty4.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/koncerty4.jpg" alt="Kronika 2018 - FAST VUT Brno" class="cards-image"/>
                        </a>
                        <a href="{$basePath}/images/kronika/2018/koncerty1.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/koncerty1.jpg" alt="Kronika 2018 - VUT FAST - VUTBR FAST" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Koncerty</h3>
                    <p>Ročník 2018 byl velice specifický. Na Seznamovák nezavítal pouze jeden host, ale hned několik. První dorazila Ostravská pop-rocková kapela Easy Steps. Jako druzí se představili Třebíčští umělci - kapela Frenciz. A&nbsptřešničkou na dortu pak byl známý písničkář Pokáč, jehož koncert nadchl naprostou většinu účastníků, takže náš stan byl opravdu naplněný k&nbspprasknutí. Posluchači si vesele zpívali všechny texty a&nbspPokáč si koncert užíval až tak, že se odhodlal ke svému prvnímu stage divingu v&nbspživotě. Mimo jiné si pak taky nakonec zazpíval po jedné písničce s&nbspnaší instruktorkou Lůcou a&nbspvybranou šťastnou účastnicí z&nbsppublika.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/degustace.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/degustace.jpg" alt="Kronika 2018 - FAST VUT Prvákoviny" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Degustace vín</h3>
                    <p>No jo, Pasohlávky, jižní Morava, kraj nejlepšího českého vína. Takže co by to bylo za Seznamovák, kdyby chyběla degustace vín vedená profesionálním sommelierem. Ve večerních hodinách se skupina lidí usadí okolo stolu a&nbspvychutnává si přednášku, během které se učí jak správně vychutnávat různé odrůdy vín. Rozhodně neváhej, na téhle aktivitě stojí za to být.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/stezka.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/stezka.jpg" alt="Kronika 2018 - Příručka prváka" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Stezka odvahy</h3>
                    <p>Předposlední noc Seznamováku seber odvahu, pár svých kámošů a&nbspspolečně se vydejte na stezku odvahy kolem laguny. Možná uslyšíš něco, co nepochází z&nbsptohoto světa, nebo na tebe zezadu skočí temná postava bez hlasu. Kdo ví, jestli se ze stezky vůbec někdy dostanete zpět. Jedno je však jisté. Váš křik bude slyšet v&nbspokolních vesnicích…</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/longboard.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/longboard.jpg" alt="Kronika 2018 - Vysokoškolský seznamovák" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Longboard trip</h3>
                    <p>Seznamovák se odehrává na opravdu luxusním místě - teplý jih Moravy, ubytování hned vedle Aqualandu. Takže pokud se člověku nechce trčet celou dobu v&nbspcampu a&nbspchce omrknout okolí, tak longboard trip je skvělá příležitost. Stačí popadnout jakýkoli board nebo brusle a&nbspvydat se s&nbspostatníma na projížďku okolo vodní nádrže. Pokud Vás zastihne skvělé počasí, tak se můžete pokochat krásným výhledem na Pálavu. Doplnění atmosféry hudbou z&nbsprepráčku a&nbspfajn společností je samozřejmostí.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/silent.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/silent.jpg" alt="Kronika 2018 - Seznamovák pro vysoké školy" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Silent Disco</h3>
                    <p>Silent Disco? Co si pod tím představit? Párty kde je ticho? V&nbsppodstatě ano. Ale i&nbsppřes to ticho všichni paří. Háček je v&nbsptom, že každý má na hlavě sluchátka a&nbspposlouchá jednoho z&nbspDJ’s. Mezi nimi si libovolně přepíná, dle toho co se mu zrovna více líbí. Ve finále to vypadá tak, že shluk desítek lidí tančí, ale ty nic neslyšíš a&nbspnechápeš co se tady děje. Takže se prostě musíš přidat, aby sis to pořádně užil. Tohle si prostě nemůžeš nechat ujít.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/tg.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/tg.jpg" alt="Kronika 2018 - Seznamovací akce Brno" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Thirsty Games</h3>
                    <p>Poslední Seznamovácké odpoledne probíhá ve znamení Thirsty Games. Je to jednoduché. Vezmeš si kámoše a&nbspzačneš obcházet jednotlivá stanoviště. Můžeš si užít hry jak z&nbsppozice diváka, tak soutěžícího. Zkus se například 10x zamotat okolo tyče, jít rovně a&nbspnespadnout. Pít nápoje hlavou dolů. Sestřelit všechny plechovky na daný počet nábojů. Vyhrát souboj se zavázanými oči, když jsi navigován jen svým spoluhráčem. Po projití všech stanovišť však nic nekončí, koná se totiž velké finále!&nbsp:)</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2018/pedal.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2018/pedal.jpg" alt="Kronika 2018 - Studentský seznamovací kurz Brno" class="cards-image"/>
                        </a>
                    </div>
                    <h3>Red Bull Pedal Sprint 2018</h3>
                    <p>Letos si pro nás borci z&nbspRed Bullu připravili unikátní soutěž pro týmy účastníků, kteří rádi zkouší nové věci. Žene je společná motivace - v&nbsptomto případě výhra “Red Bull lodi” nebo si chtějí prostě zablbnout ve vodě. A&nbspjak to vlastně probíhá? Připravit! Pozor! START! Dva týmy s&nbsprozběhem skáčou na šlapadla, šlapou a&nbsppádlují o&nbspsto šest, zběsile kličkují mezi překážkami, u&nbspbojky si prohodí místa a&nbspvalí zpátky. Energii do žil jim vlévají pokřiky těch, kteří tuto zábavu sledují ze břehu a&nbspfandí svým favoritům. Možná to zní šíleně, ale dokud nezažiješ, nepochopíš. Ostatně jako vše na Seznamováku&nbsp:)</p>
                </div>
            </div>
        </div>
    </section>
</div>
