{block title}
    Seznamovák {date("Y")} | Historie
{/block}

{block content}
<div class="div-block-22">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar second tvujucet w-nav">
        <div class="container w-container">
            <a href="{plink Homepage:default}" class="brand w-nav-brand">
                <div class="logo second">SEZNAMOVÁK</div>
            </a>
            <nav role="navigation" class="nav-menu second w-nav-menu">
                <a href="{plink Homepage:default#Program}" class="nav-white second w-nav-link">Informace</a>
                <a href="{plink Faq:default}" class="nav-white second w-nav-link">Časté dotazy</a>
                <a href="{link default}" aria-current="page" class="nav-white second w-nav-link w--current">Minulé ročníky</a>
                <a href="{plink Instruktori:default}" class="nav-white second w-nav-link">Instruktoři</a>
                <a href="{plink Auth:default}" class="button-nav second w-button">Tvoje Přihláška</a>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="icon second w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <section id="cards-section" class="cards-section">
        <div class="centered-container w-container">
            <h2 class="b40">Seznamovák 2015</h2>
            <iframe width="660" height="415"
                    src="https://www.youtube.com/embed/_WLN0Sy0fYs"
                    title="Aftermovie Seznamovák 2015" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
            <p class="b40">Shrnu to: Pokud chceš zažít to, co my, i&nbspto, co se neříká, určitě přijeď na Seznamovák 2016, nezklame tě!</p>
            <div class="cards-grid-container">
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/1.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/1.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3>#AbecedaJeFaktOrisek</h3>
                    <p>Bylo krásné slunečné ráno a&nbsppřed Janáčkovým divadlem se začali scházet účastníci Seznamováku a&nbspmí budoucí přátelé. Po několika minutách jsem si byl jistý, že určitě nepojedu sám a&nbsppodle nadšených instruktorů jsem tušil, že se mám na co těšit. Na autobusy, které mě a&nbspostatní účastníky měly dopravit do kempu, čekala poměrně početná skupina cca 250 studentů, a&nbspproto jsme od instruktorů dostali první hru - rozdělit se podle příjmení do přidělených autobusů, což byl pro nás, budoucí vysokoškoláky, trošku oříšek.</p>
                </div>
                <div id="w-node-366c66e0fec7-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/2.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/2.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0feca-f7a1c0d5">#ChatkyJsouSuper</h3>
                    <p id="w-node-366c66e0fecc-f7a1c0d5">Po krátké jízdě jsme dorazili do kempu a&nbspčekala nás další hra spočívající v&nbsphledání nových přátel, s&nbspnimiž jsme se následně společně ubytovali v&nbspbungalovech, které měly vlastní sprchu a&nbsptoaletu, což bylo super. Nemuseli jsme se tak trmácet přes půlku kempu, když jsme měli onu potřebu. Největší výhrou však pro nás bylo zjištění, že máme i&nbspvlastní kuchyňskou linku s&nbspledničkou, což bylo velice příhodné pro přípravu chlazených nápojů.</p>
                </div>
                <div id="w-node-366c66e0fece-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/3.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/3.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0fed1-f7a1c0d5">#Prezentace</h3>
                    <p id="w-node-366c66e0fed3-f7a1c0d5">Hned ze začátku jsme si zahráli několik seznamovacích her a&nbspnásledně nás čekala velmi pěkná přednáška studentského spolku o&nbspuniverzitě a&nbspzákladní informace o&nbspvysokoškolském životě. Druhou prezentaci „Konec prokrastinace“ nám přednášel úspěšný autor a&nbspbojovník proti prokrastinaci Petr Ludwig. Přesvědčil jsem sám sebe, že takové informace se mi možná budou na výšce hodit, na přednášku jsem šel a&nbspnelitoval jsem. Nemůžu sice říct, že bych úplně přestal prokrastinovat, ale když se na to podívám takto zpětně, zjišťuji, že si spousty věcí víc všímám a&nbspvíc s&nbspnimi bojuju.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/4.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/4.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3>#HlavnePoznatSpoluzaky</h3>
                    <p>Po večeři nás čekala první velká informační schůze, kde nám sdělili, co nás čeká a&nbspna co se můžeme těšit ještě dnes. Poté se nám představili i&nbspostatní instruktoři a&nbspcelá masa účastníků se rozdělila k&nbsppřiděleným instruktorům na fakultní teambuildingy, během kterých jsme se seznámili se svými budoucími spolužáky - a&nbspvěřím, že i&nbsppřáteli na dlouhou dobu. Teambuildingy se ukázaly být překvapivě velmi užitečné a&nbspvětšinu lidí jsem si i&nbspzapamatoval. Navíc instruktor Standa, který měl na starosti naši fakultu, byl fakticky bombový a&nbspbyla s&nbspním neuvěřitelná sranda, takže jsme se i&nbspvýborně pobavili.</p>
                </div>
                <div id="w-node-366c66e0fec7-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/5.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/5.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0feca-f7a1c0d5">#BavitseAParit</h3>
                    <p id="w-node-366c66e0fecc-f7a1c0d5">Po teambuildinzích odstartovala první párty. Pro účastníky Seznamováku byla rezervovaná celá hospůdka (ve skutečnosti lokál jako kráva), kde nás vždy obdarovali úsměvem a&nbspsuprově obsloužili, a&nbsptoto vše ještě rozšiřoval velký párty stan, kde probíhala většina noční zábavy a&nbspvystoupení. DJs byli skutečně skvělí a&nbspvšichni účastníci a&nbspinstruktoři to na parketu pořádně roztancovali. Někteří se odvázali dokonce natolik, že se rozhodli pro večerní koupel ve stále teplé laguně.</p>
                </div>
                <div id="w-node-366c66e0fece-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/6.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/6.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0fed1-f7a1c0d5">#KluciVTrikotech</h3>
                    <p id="w-node-366c66e0fed3-f7a1c0d5">Na druhý den čekaly některé hrdiny dobrovolné rozcvičky, ale většinu čekalo těžké vstávání. Dopolednímu programu dominovaly teambuildingy, kde jsme se nejvíce bavili při vodních aktivitách. David, Ládík a&nbspQüdo nahodili trikoty, předcvičovali aquaerobic a&nbspmy jsme se ochotně, s&nbspúsměvem a&nbspnadšením přidali. Druhou část dopoledne jsme strávili u&nbspprezentace informačních systémů, která nás velmi zaujala a&nbspsledovali jsme ji velice pozorně. Instruktoři nám přiblížili, jak pracovat s&nbspinformačními systémy naší univerzity a&nbspjak v&nbsptomto smyslu úspěšně absolvovat vysokou školu. Dále nám instruktoři přiblížili život v&nbspBrně a&nbspposkytli informace o&nbspstudentských stážích Erasmus.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/7.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/7.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3>#Vyrivky&Skluzavky</h3>
                    <p>Odpoledne jsme se natěšeně vydali do slibovaného aquaparku Aqualand Moravia. Když jsme viděli ceny v&nbspakvaparku, tak se nám všem protočily panenky a&nbspbyli jsme fakt rádi, že poplatky byly zahrnuty již v&nbspceně Seznamováku. Aqualand Moravia byl asi nejlepší částí celého pobytu, instruktoři předcvičovali suprový aquagym a&nbspvěřím, že si všichni vyzkoušeli veškeré dostupné zatočené tobogány, rovné skluzavky či hodně brutální úrampu. Po náročném řádění na skluzavkách pak všichni vzali zavděk odpočinkem ve vířivkách a&nbspwellness části, kterou aquapark disponuje.</p>
                </div>
                <div id="w-node-366c66e0fec7-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/8.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/8.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0feca-f7a1c0d5">#NejsmeSrabi</h3>
                    <p id="w-node-366c66e0fecc-f7a1c0d5">Po večeři a&nbspklasické informační schůzi nás čekalo bravurní vystoupení instruktorů v&nbspzábavné improvizační show Partička. Společně jsme všichni procvičovali břišní svalstvo a&nbspbránice po celou dobu vystoupení, které byly smíchem velice namáhané. V&nbsppozdějších hodinách večer se pak konala na opačném konci laguny pro dobrovolníky stezka odvahy. Kvůli velkému zájmu jsme sice chvilku čekali, někteří nedočkavci si dokonce krátili čekání skokem do jezera, ale nakonec jsme se dostali všichni na řadu. Se stezkou si instruktoři opravdu vyhráli. Ať už se jednalo o&nbspoběšence na stromě nebo o&nbspzvuky z&nbsprepráků schovaných důmyslně porůznu v&nbspkřoví a&nbspnechyběl ani řezník s&nbspmotorovou pilou, což byla ta pomyslná třešnička na dortu celé stezky odvahy.</p>
                </div>
                <div id="w-node-366c66e0fece-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/9.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/9.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0fed1-f7a1c0d5">#Silentdisco</h3>
                    <p id="w-node-366c66e0fed3-f7a1c0d5">Večer se konalo první silent disco. Už jsem o&nbsptom předtím slyšel, ale fakt mě nenapadlo, že si to někdy vyzkouším. Je to bezvadná věc a&nbsphodilo se to tam vážně perfektně. Přišlo mi to i&nbspo&nbspdost lepší než normální párty zřejmě i&nbspproto, že DJové proti sobě soutěžili a&nbspto je burcovalo k&nbsplepším a&nbsplepším výkonům a&nbsphráli skutečně pecky.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/10.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/10.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3>#Adrenalin #sport #Wake&Paintball</h3>
                    <p>Již jsme v&nbsppolovině pobytu a&nbspuž jsme toho stihli tolik a&nbspto jsme ještě netušili, co nás čeká dnes. Dopoledne bylo věnováno sportovním aktivitám a&nbsprůzným turnajům. Většina účastníků se vydala na přestřelku na paintballové hřiště nebo na lekce wakeboardingu do místního wakeparku. Bylo to dost drsné, protože opravdu to není tak jednoduché, jak se zdá a&nbspnikomu z&nbspnás to ze začátku nešlo, ale bylo to fakt super. Ostatní se zúčastnili dalších aktivit, které byly na výběr - například beach volejbalových a&nbspjiných turnajů. Den se přehoupnul do další části a&nbspvšichni jsme se zvědavostí přešlapovali na srazu pro další hru, čekala nás Stezka Ondrovy mámy. Spousta úkolů, ať už logických, fyzických nebo týmových, nám dala slušně zabrat. Na konci stezky jsme se mohli projet i&nbspna dračích lodích, což byla další parádní činnost na stmelení kolektivu.</p>
                </div>
                <div id="w-node-366c66e0fec7-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/11.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/11.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0feca-f7a1c0d5">#VinoZenyZpev</h3>
                    <p id="w-node-366c66e0fecc-f7a1c0d5">Den opět utekl jako voda a&nbspmy zažili další spoustu zážitků a&nbspnemůžeme se dočkat, cože je pro nás nachystáno večer. Více než polovina lidí se odebrala na parádní degustaci vín se somelierem, takže se dá důvodně očekávat, že tento večer bude nejspíš ještě hodně veselý. Také nás čeká rockový mini festival. Během večera se na pódiu vystřídaly tři kapely a&nbspkvalita vyloženě gradovala, od božích až k&nbspultrabožím. Myslím, že všichni si minifestival opravdu užili a&nbspže se večer opravdu podařil.</p>
                </div>
                <div id="w-node-366c66e0fece-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/12.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/12.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0fed1-f7a1c0d5">#SwingAJineWorkshopy</h3>
                    <p id="w-node-366c66e0fed3-f7a1c0d5">Předposlední den našeho pobytu se opět nesl ve sportovním duchu. Čekali nás turnaje v&nbspbadmintonu a&nbspzápas v&nbspsoftbalu. Nedá se říct, že jsme všichni sportovci a&nbsptak si někteří zašli i&nbspna swing dance workshop, kde si společně s&nbspinstruktory osvojili základy swingu. Ti, co neměli už dostatek sil na pohyb, se zúčastnili kurzu líčení, nebo se zúčastnili turnaje v&nbsppokeru.</p>
                </div>
                <div id="w-node-366c66e0fec0-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/13.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/13.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3>#ChallengeAccepted</h3>
                    <p>Mezi účastníky se začalo proslýchat, že instruktoři pro nás nachystali soutěžní odpoledne a&nbspže bude potřeba mít opravdu kuráž a&nbspvýdrž. Jak už je zvykem, na sraz došla opět většina účastníků a&nbspnetrpělivě jsme očekávali zahájení odpoledne. Velmi rychle jsme vytvořili dvojice a&nbsppustili se do soutěží. Úkolem bylo absolvovat 7&nbspstanovišť a&nbspfinální 8.&nbspdisciplínu. Jak nám brzy došlo, nešlo úplně o&nbspto, jestli někdo vyhraje, ale zda vůbec úkoly dokončí. Už jsem pár podobných soutěží zažil, ale tyhle disciplíny stály fakt za to. Kvůli tomuto odpoledni budu dlouho na Seznamovák vzpomínat a&nbspvěřím, že jen tak nezapomenu.</p>
                </div>
                <div id="w-node-366c66e0fec7-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/14.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/14.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0feca-f7a1c0d5">#PosledniParty</h3>
                    <p id="w-node-366c66e0fecc-f7a1c0d5">Soutěžní odpoledne pěkně nastartovalo atmosféru pro poslední večer, na který se všichni náležitě vystrojili. Během rozlučkové párty nás čekalo vyhlášení výsledků turnajů, zápasů a&nbspvšech klání, které se během Seznamováku konaly. Samozřejmě, že rozlučkový večer s&nbsptouto úžasnou skupinou instruktorů by nebylo nic bez pořádného tématu a&nbspsoutěží. Soutěžící mohli získat výhru ve třech kategoriích a&nbspto Miss Boobies, Miss Sympatie a&nbspMiss Seznamovák. Tyto soutěže nasadily dnešnímu dni opravdu pěknou korunku, avšak neprozradím vám vše. Snad jen naznačím, že nic ten večer nebylo tak, jak to vypadalo a&nbspco se stalo na Seznamováku, tak tam taky zůstane.</p>
                </div>
                <div id="w-node-366c66e0fece-f7a1c0d5">
                    <div class="cards-image-mask">
                        <a href="{$basePath}/images/kronika/2015/15.jpg" data-fancybox="gallery">
                            <img src="{$basePath}/images/kronika/2015/15.jpg" alt="Kronika 2015" class="cards-image"/>
                        </a>
                    </div>
                    <h3 id="w-node-366c66e0fed1-f7a1c0d5">#DomuAVyspat</h3>
                    <p id="w-node-366c66e0fed3-f7a1c0d5">A&nbspje tu poslední den, asi nejnáročnější den ze všech. Čekalo nás uklízení našich bungalovů, hledání svých věcí z&nbsppředešlé noci a&nbspzačalo vzpomínání na Seznamovák a&nbspco všechno jsme tu zažili. Hodně z&nbsptěch zde vzniklých skupinek využilo možnost se vyfotit ve fotokoutku a&nbspu&nbspposledního škopku si povyprávět o&nbspprožitých akcích a&nbspvtipných situacích. A&nbspjak už tomu bývá, u&nbspodjezdu se mávalo a&nbspmávalo, jako bychom se nikdy už neměli vidět. Slabší povahy uronily i&nbspněkolik slziček. Instruktoři nám hodně přirostli k&nbspsrdci a&nbspvůbec celý Seznamovák utekl tak rychle, sotva jsme přijeli a&nbspuž jsme se loučili. Nutno však podotknout, že program nebyla žádná lehárna, manko jsem dospával ještě týden! :D</p>
                </div>
            </div>
        </div>
    </section>
</div>
