{block title}Přihlášení do administrace{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Administrace</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet form}
            {control signInForm}
        {/snippet}
    </div>
</div>
