{block title}
    Seznamovák {date("Y")} | Hlavní stránka
{/block}

{block content}
  <div class="hero">
    <div class="div-block">
      <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar b80 w-nav">
        <div class="container w-container">
          <a href="{plink Homepage:default}" aria-current="page" class="brand w-nav-brand w--current">
            <div class="logo">SEZNAMOVÁK</div>
          </a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="#Program" class="nav-white w-nav-link">Informace</a>
            <a href="{plink Faq:default}" class="nav-white w-nav-link">Časté dotazy</a>
            <a href="{plink Historie:default}" class="nav-white w-nav-link">Minulé ročníky</a>
            <a href="{plink Instruktori:default}" class="nav-white w-nav-link">Instruktoři</a>
            <a href="{plink Auth:default}" class="button-nav w-button">Tvoje Přihláška</a>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
      <div class="container-2 w-container">
        <div class="w-layout-grid grid b104">
          <div>
            <h1 class="white b24">Poznej své spolužáky dříve, než vysoká opravdu začne</h1>
            <p class="white b24">Zábava na Seznamováku bude podle tebe. V ceně máš samozřejmě celodenní vstup do aquaparku. Můžeš také zajít na wellness, do wakeparku, na vodní dýmky nebo zažít profesionální degustaci moravských vín. </p>
            <div class="w-layout-grid grid-2"><a href="#Program" class="button w-button">Proč jet s námi?</a>
              <div id="w-node-a1f6f0bb1c4a-53999b15" class="div-block-7"><a href="#Prihlaska" class="link yellow">Vyplň přihlášku</a></div>
            </div>
          </div>
          <div>
            <div class="video">
                <a href="https://www.facebook.com/seznamovakbrno/videos/3154388951291690/" class="lightbox-link w-inline-block w-lightbox" id="viewVideoButton" target="_blank">
                    <div class="button-wrap">
                        <div class="play-button">
                            <div class="play-icon"></div>
                        </div>
                        <div class="play-button-pulse"></div>
                    </div>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Program" class="program">
    <div class="container-7 w-container">
      <h2 class="heading-9 white b48">Proč jet? <br>Protože máme <br>skvělý program</h2>
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div id="w-node-d0a3f5d77e9e-53999b15" class="tabs-menu-2 w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-normal w-inline-block w-tab-link w--current">
            <div>v noci</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-normal w-inline-block w-tab-link">
            <div>ve dne</div>
          </a>
        </div>
        <div id="w-node-d0a3f5d77ea8-53999b15" class="tabs-content w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Welcome party</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Silent Disco</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Instruktorská partička</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Stand up show</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">UV party</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Seznamovácký kvíz</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Chill zóna</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Aqualand</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Teambuildingy</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Univerzitní spolky</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Wakeboard, Paddleboard</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Vodní dýmky</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Thirsty Games</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Degustace vín</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Info o škole a IS</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Workshopy</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">"Longboard trip"</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Přednášky všeho druhu</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">Pole dance</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
            <div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">Big Games</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
            <div class="bubble-div">
              <div class="bubble lightblue">
                <p class="bold">"Život v Brně"</p>
              </div>
              <div class="bubble-tri lightblue"></div>
            </div>
			<div class="bubble-div odsazeni">
              <div class="bubble">
                <p class="bold">A mnoho dalšího...</p>
              </div>
              <div class="bubble-tri"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bila">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar second w-nav">
      <div class="container w-container">
        <a href="{link default}" aria-current="page" class="brand w-nav-brand w--current">
          <div class="logo second">SEZNAMOVÁK</div>
        </a>
        <nav role="navigation" class="nav-menu second w-nav-menu">
          <a href="{plink Homepage:default#Program}" class="nav-white second w-nav-link">Informace</a>
          <a href="{plink Faq:default}" class="nav-white second w-nav-link">Časté dotazy</a>
          <a href="{plink Historie:default}" class="nav-white second w-nav-link">Minulé ročníky</a>
          <a href="{plink Instruktori:default}" class="nav-white second w-nav-link">Instruktoři</a>
          <a href="{plink Auth:default}" class="button-nav second w-button">Tvoje Přihláška</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="icon second w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="ubytovani">
      <div class="container-3 w-container">
        <div class="w-layout-grid grid-3">
          <div>
            <h2 class="b48">Na ubytování<br>záleží</h2>
            <p>Nám teda rozhodně ano. Spát pod širákem je sice super, ale né vždy vyjde počasí. A na poroučení větru a dešti tu byli jiní.<br><br>My se raději spoléháme na bungalovy s vlastní toaletou a sprchou. Bydlet v nich budeš po 4-6 lidech, podle velikosti. Kuchyňka s ledničkou je samozřejmostí. Většina bungalovů má i vlastní terasu. Spacák si klidně vem, ale každý dostane svou peřinu i čisté povlečení.<br><br>Není třeba googlit. <a href="https://www.kemp-merkur.cz/blog/ubytovani/bungalovy/" target="_blank">Tady se na bungalovy v kempu ATC Merkur rovnou podívej. </a><br><br>Se snídaní a večeří si nemusíš dělat hlavu. Obojí máš v ceně Seznamováku. Během poledne můžeš zahnat hlad v jakékoliv z přilehlých restaurací nebo si oběd můžeš objednat u nás.</p>
          </div>
          <div id="w-node-1fcab3aab279-53999b15" class="div-block-18"><a href="https://www.google.com/maps/place/ATC+Merkur+Pasohl%C3%A1vky/@48.9003579,16.5673715,17z/data=!3m1!4b1!4m8!3m7!1s0x4712c9631eed7c3b:0x53b5b72d97f9e5e6!5m2!4m1!1i2!8m2!3d48.9003579!4d16.5693311" target="_blank" class="link-block w-inline-block"><img src="images/kemp.svg" alt="Umístění ATC kempu Merkur na mapě - Příručka prváka" class="image-3"></a></div>
        </div>
      </div>
    </div>
    <div class="terminy">
      <div class="container-4 w-container">
        <div class="w-layout-grid grid-3">
          <div id="w-node-8222a8345b96-53999b15" class="div-block-19"><img src="images/seznamovak-2022-turnus-1-v2.svg" alt="Umístění ATC kempu Merkur na mapě" class="image-2"><img src="images/seznamovak-2022-turnus-2-v2.svg" alt="Umístění ATC kempu Merkur na mapě - Seznamovací akce pro studenty Brno" class="image"></div>
          <div>
            <h2 class="b48">2 termíny,<br>5 dní zábavy</h2>
            <p class="b80">Není nic horšího, než se trefit do naplánované dovolené. Proto pořádáme 2 termíny. Seznamovák v letošním roce oslaví již 12. narozeniny a každým rokem nás jezdí víc <br>a víc. <br><br>Proto s výběrem termínu moc dlouho neotálej. Kemp bohužel není nafukovací a může nás jet jen omezený počet.<br><br>První letošní termín bude <a href="#Prihlaska">od 30. srpna do 3. září.</a> <br>Druhý pak <a href="#Prihlaska">od 5. do 9. září.</a><br></p>
            <h2 class="b48">2 způsoby <br>dopravy</h2>
            <p>Do kempu v Pasohlávkách se můžeš vydat buď po vlastní ose, nebo spolu s námi autobusem. <br><br> Pokud s námi pojedeš autobusem, tak sraz bude v 10:00 u Janáčkova divadla a v 11:00 vyrazíme směr Pasohlávky.<br><br>Zvolíš-li si vlastní dopravu, buď prosím nejpozději ve 13:00 na <a href="https://www.google.com/maps/place/ATC+Merkur+Pasohl%C3%A1vky/@48.9003579,16.5673715,17z/data=!3m1!4b1!4m8!3m7!1s0x4712c9631eed7c3b:0x53b5b72d97f9e5e6!5m2!4m1!1i2!8m2!3d48.9003579!4d16.5693311" target="_blank">recepci č. 1.</a><br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Program" class="program bila"></div>
  <div class="modra">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out" data-easing2="ease-in-out" data-doc-height="1" role="banner" class="navbar third w-nav">
      <div class="container w-container">
        <a href="{link default}" aria-current="page" class="brand w-nav-brand w--current">
          <div class="logo">SEZNAMOVÁK</div>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="{plink Homepage:default#Program}" class="nav-white w-nav-link w--current">Informace</a>
          <a href="{plink Faq:default}" class="nav-white w-nav-link">Časté dotazy</a>
          <a href="{plink Historie:default}" class="nav-white w-nav-link">Minulé ročníky</a>
          <a href="{plink Instruktori:default}" class="nav-white w-nav-link">Instruktoři</a>
          <a href="{plink Auth:default}" class="button-nav w-button">Tvoje Přihláška</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="icon w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-5 w-container">
      <div class="w-layout-grid grid-3 b80 t104">
        <div>
          <h2 class="white b48">Stojí to za to</h2>
{*          <p class="white">Myslí si to tisíce studentů, kteří za posledních 10 let vsadili na náš Seznamovák a jeli s námi.<br><br>4 dny polopenze, jeden celodenní vstup do Aqualandu, nespočet zážitků, noví přátelé na tvé nové univerzitě, a to je podle nás k nezaplacení.<br><br>Stačí nám však, když do {$deadlines[App\Model\ImportantDatesModel::ZALOHA_2]} pošleš zálohu {$cena[App\Model\PaymentsLimitsModel::ZALOHA_ID]['amount']} Kč. Doplatek {$cena[App\Model\PaymentsLimitsModel::FULL_PRICE_ID]['amount'] - $cena[App\Model\PaymentsLimitsModel::ZALOHA_ID]['amount']} Kč můžeš poté poslat do {$deadlines[App\Model\ImportantDatesModel::DOPLATEK]}.<br><br>Obojí můžeš samozřejmě zaplatit najednou.<br><br><a href="#Prihlaska" class="link yellow">Zarezervuj si však svůj termín</a> dřív, než bude plná kapacita.<br></p>*}
          <p class="white">Myslí si to tisíce studentů, kteří za posledních 10 let vsadili na náš Seznamovák a jeli s námi.<br><br>4 dny polopenze, jeden celodenní vstup do Aqualandu, nespočet zážitků, noví přátelé na tvé nové univerzitě, a to je podle nás k nezaplacení.<br><br>Stačí nám však, když do 21. srpna pošleš zálohu {$cena[App\Model\PaymentsLimitsModel::ZALOHA_ID]['amount']} Kč i doplatek {$cena[App\Model\PaymentsLimitsModel::FULL_PRICE_ID]['amount'] - $cena[App\Model\PaymentsLimitsModel::ZALOHA_ID]['amount']} Kč a můžeš se poté těšit na Seznamovák.<br><br><a href="#Prihlaska" class="link yellow">Zarezervuj si však svůj termín</a> dřív, než bude plná kapacita.<br></p>
        </div>
        <div>
          <h2 class="white b48">Máš jakoukoliv otázku?</h2>
          <p class="white">Rádi ti na ni odpovíme. Zkus se však podívat do <a href="{plink Faq:default}" class="link yellow">FAQ</a>, jestli tam na ni nenajdeš odpověď hned.<br><br>Případně nám kdykoliv napiš <a href="https://urlgeni.us/facebook/UlCF" target="_blank" class="link yellow">zprávu na Facebooku</a> nebo <a href="mailto:seznamovak.brno@gmail.com" class="link yellow">e-mail</a>. Odpovíme ti do 24 hodin.<br><br>Je to opravdu urgentní? V pořádku. <a href="tel:+420605944959" class="link yellow">Zavolej</a>.<br><br>Seznamovák pořádá spolek Akce student o.s. ve spolupráci se studenty Masarykovy univerzity, VUT a Mendelovy univerzity.<br><br>Podívej se na náš <a href="https://urlgeni.us/facebook/UlCF" target="_blank" class="yellow">Facebook</a> nebo <a href="https://urlgeni.us/instagram/DWIY" target="_blank" class="yellow">Instagram.</a><br></p>
        </div>
      </div>
    </div>
    <div class="container-6 w-container">
      <h2 id="Prihlaska" class="white b48">Přihláška</h2>
      <div class="w-form">
        {control registrationForm}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('viewVideoButton').addEventListener('click', function() {
      fbq('track', 'ViewContent');
    }, false);
  </script>
