{block title}Nastavení | Detail aktivity{/block}
{block content}

<div class="row">
        <div class="col-12">
            <h1>{$activity}</h1>
        </div>
        <div class="col-12">
            {control activityDetailGrid $id}
        </div>
</div>

