{block title}Administrace | Placené aktivity{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Placené aktivity</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control activitiesGrid}
        {/snippet}
    </div>
</div>