{block title}Administrace | Přidat ubytování{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Přidat ubytování</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet form}
            {control addLodgingForm}
        {/snippet}
    </div>
</div>