{block title}Administrace | Přidat turnus{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Přidat turnus</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet form}
            {control addSessionForm}
        {/snippet}
    </div>
</div>