{block title}Administrace | Bonusy{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Bonusy</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control bonusesGrid}
        {/snippet}
    </div>
</div>