{block title}Administrace | Editovať ubytování{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Editovať ubytování</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet form}
            {control editLodgingForm}
        {/snippet}
    </div>
</div>