{block title}Administrace | Fakulty{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Fakulty</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control facultiesGrid}
        {/snippet}
    </div>
</div>