{block title}Administrace | Důležité termíny{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Důležité termíny</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control importantDatesGrid}
        {/snippet}
    </div>
</div>