{block title}Administrace | Limity plateb{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Limity plateb</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control paymentsLimitsGrid}
        {/snippet}
    </div>
</div>