{block title}Administrace | Turnusy{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Turnusy</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{plink Settings:addSession}" class="btn btn-primary">Přidat turnus</a><br><br>


        {snippet grid}
            {control sessionsGrid}
        {/snippet}
    </div>
</div>