{block title}Administrace | Způsoby dopravy{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Způsoby dopravy</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet grid}
            {control transportsGrid}
        {/snippet}
    </div>
</div>