{block title}Administrace | Vytvořit přihlášku{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Vytvořit přihlášku</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br>
        {snippet form}
            {control newApplicationForm}
        {/snippet}
    </div>
</div>
