{block title}Administrace | Upravit přihlášku{/block}
{block content}

<div class="row">
    <div class="col-12">
        <h1>Upravit přihlášku - {$application->id}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {snippet form}
            {control editApplicationForm}
        {/snippet}
    </div>
</div>